.currencyConverterContainer {
    background-color: #fff;
    padding: 1.5rem;
    border: 1px solid black;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.currencyInput {
    width: 100%;
    /* Asegura que el input ocupe el 100% del ancho */
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    /* Asegura que el padding no afecte el ancho total */
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: black;
    text-align: center;
    /* Centrar el título */
}
.currencySelect {
    padding: 0.75rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    background-color: #fff;
    color: #333;
}

.currencyButton {
    width: 100%;
    padding: 0.75rem;
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.currencyButton:hover {
    background-color: #333;
}

.currencySwap {
    background-color: #fff;
    color: #333;
    padding: 0.5rem;
    border-radius: 10%;
    /* Circular para el botón de swap */
    border: 1px solid #ccc;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.currencySwap:hover {
    transform: rotate(180deg);
}

.swapIcon {
    height: 16px;
    width: 16px;
}

.currencySelectContainer {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.selectWrapper {
    flex: 1;
    /* Asegura que los selectores ocupen el espacio adecuado */
}

.resultContainer {
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #fff;
    padding: 0.75rem;
    border-radius: 4px;
    color: black;
    text-align: center;
}