/* Estilos de la forma de transferencia */
.transferForm {
    background-color: white;
    padding: 2.5rem;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    margin: 2rem auto;
}

.transferForm h2 {
    margin-bottom: 2rem;
    color: var(--color-primary);
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

.formGroup {
    margin-bottom: 20px;
    text-align: left;
}

.transferForm input,
.transferForm select {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    padding: 1rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.transferForm input:focus,
.transferForm select:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.5);
    outline: none;
}

.transferForm input::placeholder,
.transferForm select {
    color: #999;
    font-style: italic;
}

.btnPrimary {
    width: 100%;
    padding: 1rem 1.5rem;
    background-color: black;
    color: white;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.btnPrimary:hover {
    background-color: var(--color-secondary);
    transform: translateY(-3px);
}

/* Responsividad */
@media (max-width: 768px) {
    .transferForm {
        padding: 1.5rem;
    }

    .transferForm h2 {
        font-size: 1.8rem;
    }

    .transferForm input,
    .transferForm select {
        font-size: 0.9rem;
    }

    .btnPrimary {
        font-size: 1rem;
        padding: 0.7rem 1.2rem;
        
    }
}

@media (max-width: 480px) {
    .transferForm {
        padding: 1.2rem;
        width: 100%;
    }

    .transferForm h2 {
        font-size: 1.6rem;
    }

    .transferForm input,
    .transferForm select {
        font-size: 0.85rem;
        padding: 0.65rem 0.8rem;
    }

    .btnPrimary {
        font-size: 0.9rem;
        padding: 0.6rem 1rem;
    }
}