.notificationContainer {
    padding: 2rem;
    background-color: rgba(34, 34, 34, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
}

.notificationItem {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--color-text);
    border-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.notificationItem:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
    .notificationContainer {
        width: 90%;
        padding: 1.5rem;
    }

    .notificationItem {
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .notificationContainer {
        width: 100%;
        padding: 1rem;
    }

    .notificationItem {
        padding: 6px;
        font-size: 0.9rem;
    }
}