.support-container {
    padding: 2rem;
    background-color: rgba(34, 34, 34, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    /* Centra el contenedor */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.support-container:hover {
    background-color: rgba(34, 34, 34, 0.9);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.support-form .form-control {
    margin-bottom: 15px;
    padding: 0.75rem;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--color-text);
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.support-form .form-control:focus {
    border-color: var(--color-primary);
    background-color: rgba(255, 255, 255, 0.2);
    outline: none;
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.5);
}

.support-button {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: #fff;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.support-button:hover {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .support-container {
        width: 90%;
        padding: 1.5rem;
    }

    .support-button {
        font-size: 0.9rem;
        padding: 0.7rem 1.2rem;
    }
}

@media (max-width: 480px) {
    .support-container {
        padding: 1.2rem;
        width: 95%;
    }

    .support-button {
        font-size: 0.85rem;
        padding: 0.6rem 1rem;
    }
}