.transactionContainer {
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    width: 90%;
    max-width: 900px;
}

.title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #333;
}

.transactionTable {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.transactionTable th,
.transactionTable td {
    padding: 12px 20px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    color: #333;
}

.transactionTable th {
    background-color: black;
    color: white;
    font-weight: bold;
}

.transactionTable tbody tr:hover {
    background-color: #f1f1f1;
    transition: background-color 0.3s ease;
}

.transactionTable td {
    font-size: 1rem;
}

/* Responsividad */
@media (max-width: 768px) {
    .transactionContainer {
        padding: 1.5rem;
        width: 95%;
    }

    .transactionTable th,
    .transactionTable td {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .transactionContainer {
        padding: 1.2rem;
        width: 100%;
    }

    .transactionTable th,
    .transactionTable td {
        font-size: 0.9rem;
        padding: 8px;
    }
}