/* App.module.css */

/* Estilos globales para el contenedor de la aplicación */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* Ocupar la altura completa de la ventana */
  background-color: #ffffff;
  /* Fondo blanco */
}

/* Contenedor de contenido */
.App-content {
  margin-top: 64px;
  /* Asegura que el contenido no quede detrás del NavBar */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Estilos de la cabecera y logo */
.App-logo {
  height: 40vmin;
  pointer-events: none;
  transition: transform 0.5s ease-in-out;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.App-link:hover {
  color: #21a1f1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Mejora de responsividad */
@media (max-width: 768px) {
  .App-logo {
    height: 30vmin;
  }

  .App-header {
    font-size: calc(8px + 2vmin);
    padding: 15px;
  }

  .App-link {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .App-logo {
    height: 25vmin;
  }

  .App-header {
    font-size: calc(6px + 2vmin);
  }

  .App-link {
    font-size: 0.9rem;
  }
}