html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    color: black;
    /* Asegura que el color predeterminado del texto sea negro */
}